
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    background: linear-gradient(90deg, #FFA500, #FF69B4, #800080);
}

input {
    display: none;
}

img {
    width: 100%;
    height: 100%;
}

.book {
    display: flex;
}

#cover {
    width: 380px;
    height: 650px;
}

.flip-book {
    width: 380px;
    height: 650px;
    position: relative;
    perspective: 1500px;
    
}

.flip {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: .5s;
    color: #000;
}

p {
    font-size: 1rem;
    text-align: center;
    line-height: 24px;
    margin-top: 7px;
}
h2 {
    font-family: monospace;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fafafa;
    box-sizing: border-box;
    padding: 0 13px;
    box-shadow: inset 20px 0 50px r;  
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background-color: #000;
}

.next-btn {
    position: absolute;
    bottom: 13px;
    right: 13px;
    cursor: pointer;
    color: #000;
}

.back-btn {
    position: absolute;
    bottom: 13px;
    right: 13px;
    cursor: pointer;
    color: #fff;
}

#p1 {
    z-index: 12;
}
#p2 {
    z-index: 11;
}
#p3 {
    z-index: 10;
}
#p4 {
    z-index: 9;
}
#p5 {
    z-index: 8;
}
#p6 {
    z-index: 7;
}
#p7 {
    z-index: 6;
}#p8 {
    z-index: 5;
}
#p9 {
    z-index: 4;
}
#p10 {
    z-index: 3;
}
#p11 {
    z-index: 2;
}
#p12 {
    z-index: 1;
}
#c1:checked ~ .flip-book #p1 {
    transform: rotateY(-180deg);
    z-index: 1;
}
#c2:checked ~ .flip-book #p2 {
    transform: rotateY(-180deg);
    z-index: 2;
}
#c3:checked ~ .flip-book #p3 {
    transform: rotateY(-180deg);
    z-index: 3;
}
#c4:checked ~ .flip-book #p4 {
    transform: rotateY(-180deg);
    z-index: 4;
}
#c5:checked ~ .flip-book #p5 {
    transform: rotateY(-180deg);
    z-index: 5;
}
#c6:checked ~ .flip-book #p6 {
    transform: rotateY(-180deg);
    z-index: 6;
}
#c7:checked ~ .flip-book #p7 {
    transform: rotateY(-180deg);
    z-index: 7;
}
#c8:checked ~ .flip-book #p8 {
    transform: rotateY(-180deg);
    z-index: 8;
}
#c9:checked ~ .flip-book #p9 {
    transform: rotateY(-180deg);
    z-index: 9;
}
#c10:checked ~ .flip-book #p10 {
    transform: rotateY(-180deg);
    z-index: 10;
}
#c11:checked ~ .flip-book #p11 {
    transform: rotateY(-180deg);
    z-index: 11;
}
#c12:checked ~ .flip-book #p12 {
    transform: rotateY(-180deg);
    z-index: 12;
}















